body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  text-align: center;
  border: 1px solid #ffffff;
  padding: 40px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo {
  width: 200px;
  margin-bottom: 0,5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

input {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #0c0d0e;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
